<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <title>About</title>
  <script src="/js/app.js"></script>
</head>

<body>
  <div class="main-content">
    {{> header  }}
    <img class="portrait" src="/img/1.png" alt="">
    <p>This site was created by Kuldeep Singh as a student of Andrew Mead.</p>
    <p>It uses data from mapbox.com and darksky.net! </p>
  </div>

  {{> footer }}
</body>

</html>